@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

@font-face {
	font-family: 'Kallisto';
	src: url('../fonts/kallisto_thin-webfont.eot');
	src: url('../fonts/kallisto_thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/kallisto_thin-webfont.woff2') format('woff2'),
		url('../fonts/kallisto_thin-webfont.woff') format('woff'),
		url('../fonts/kallisto_thin-webfont.ttf') format('truetype'),
		url('../fonts/kallisto_thin-webfont.svg#Tilt Warp') format('svg');
}




@font-face {
	font-family: 'KallistoMedium';
	src: url('../fonts/kallisto_medium-webfont.eot');
		src: url('../fonts/kallisto_medium-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/kallisto_medium-webfont.woff2') format('woff2'),
			url('../fonts/kallisto_medium-webfont.woff') format('woff'),
			url('../fonts/kallisto_medium-webfont.ttf') format('truetype'),
			url('../fonts/kallisto_medium-webfont.svg#Tilt Warp') format('svg');
	font-weight: 500;
	font-style: normal;

}

::-webkit-scrollbar {
	width: 0;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header, aslide{display: block;}

html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}



header {
	background: black;
	text-align: center;
	width: 100vw;
	font-size: 40px;
	font-family: "Anton", serif;
	font-weight: 400;
	font-style: normal;
	padding: 5px 0;
	position: sticky !important;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
}

header a {
	text-decoration: none;
	color: white;
}


footer {
	background: rgb(0, 0, 0);
	width: 100vw;
	height: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: static !important;
}

.footer-info {
	font-size: 14px;
	color: gray;
	font-family: "Anton", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-social-links {
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
}

.footer-social-links a {
	display: inline-flex;
	padding: 8px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	margin: 4px 4px;
	transition: .5s;
}