@font-face {
   font-family: 'Tilt Warp';
   src: url('../fonts/TiltWarp-Regular.eot');
   src: url('../fonts/TiltWarp-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiltWarp-Regular.woff2') format('woff2'),
        url('../fonts/TiltWarp-Regular.woff') format('woff'),
        url('../fonts/TiltWarp-Regular.ttf')  format('truetype'),
        url('../fonts/TiltWarp-Regular.svg#Tilt Warp') format('svg');
}

@font-face {
   font-family: 'Poppins';
   src: url('fonts/Poppins-Regular.eot');
   src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.ttf')  format('truetype'),
        url('fonts/Poppins-Regular.svg#Poppins') format('svg');
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header, aslide{display: block;}

html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 10%;
   background: transparent;
   background-color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}
.logo {
   font-size: 26px;
   color: #fff;
   text-decoration: none;
   font-weight: 700;
   cursor: pointer;
   animation: slideRight 1s ease forwards;
   opacity: 0;
   z-index: 101;
}

.navbar a {
   font-size: 18px;
   display: inline-block;
   color: #fff;
   text-decoration: none;
   font-weight: 500;
   margin-left: 35px;
   transition: 0.5s ease;
   animation: slideTop 1s ease forwards;
   opacity: 0;
   animation-delay: calc(.2s*var(--clr));
}

.navbar a:hover,.navbar a.active {
   color: blue;
   transition: 0.5s ease;
}

#menu-icon {
   font-size: 3.6rem;
   color: white;
   display: none;
}

.footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 2rem 9%;
   background: black;
}
.footer-text p {
   font-size: 1.6rem;
   color: #fff;
}

.header__burger {
	display: none;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 100;
}

.header__list li{
	list-style: none;
	margin: 0px 0px 0px 20px;
}

.header__link {
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}

@media (max-width:1200px) {
   html {
      font-size: 55%;
   }
}

@media (max-width:991px) {
   .header {
      padding: 2rem 3%;
   }
   
   section {
      padding: 10rem 3% 2rem;
   }

   .footer {
      padding: 2rem 3%;
   }
}

@media (max-width:768px) {
   .header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger span {
		position: absolute;
		background-color: white;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: white;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.navbar {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: auto;
		transition: all 0.3s ease 0s;
		background-color: black;
		padding: 70px 10px 20px 10px;
		overflow: auto;
	}
	.navbar.active {
		top: 0;
	}
	.header__list {
		display: block;
	}
	.header__list li {
		margin: 0px 0px 20px 0px;
	}
   .footer {
      justify-content: center;
   }
}

@keyframes slideRight {
   0% {
      transform: translateX(-100px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}
@keyframes slideTop {
   0% {
      transform: translateY(100px);
      opacity: 0;
   } 
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes slideBottom {
   0% {
      transform: translateY(-100px);
      opacity: 0;
   } 
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes slideLeft {
   0% {
      transform: translateX(100px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

@keyframes Zoom {
   0% {
      transform: scale(0);
      opacity: 0;
   }
   100% { 
      transform: scale(1);
      opacity: 1;
   }
}
@keyframes Float {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-24px);
   }
   100% {
      transform: translateY(0);
   }
}